.greeting{
    display: flex;
    align-items: flex-start;
}
.error{
    color: red;
    height: 21px;
    margin-left: 10px;
}
.input{
    margin: 10px;
    background: #083300;
    color: #99ff99;
    height: 26px;
}
.input:focus {
    /*outline: none;*/
    border: navajowhite;


}
.errorInput{
    margin: 10px;
    background: #083300;
    color: #99ff99;
    border: 20px;
    outline: none;
    height: 26px;
}
.button{
    margin: 10px;
    width: 60px;
    background: #083300;
    color: #99ff99;
    outline: none;
}
.button:focus{
    outline: #005500;
}
.button:active{
    background: #99ff99;
}
.button:disabled{
    color: #005500;
}
.count{
    margin: 10px;
    width: 60px;
    outline: none;
}